In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
#reading data from csv file
dataset =  pd.read_csv('D:\ELLAssDataset\health_data.csv')
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1:].values

In [16]:
dataset

     age  restbps  chol  category
0     26      109   243         0
1     27      106   156         0
2     28      107   225         0
3     27      105   277         0
4     30       96   221         0
..   ...      ...   ...       ...
695   47      111   202         1
696   58      145   236         1
697   46      121   219         1
698   43      119   239         1
699   42      132   251         1

[700 rows x 4 columns]

In [8]:
dataset.values

array([[ 26, 109, 243,   0],
       [ 27, 106, 156,   0],
       [ 28, 107, 225,   0],
       ...,
       [ 46, 121, 219,   1],
       [ 43, 119, 239,   1],
       [ 42, 132, 251,   1]], dtype=int64)

In [15]:
datasize  = dataset.shape[0]
train = dataset.values[:(datasize*7)//10]
train.shape
test = dataset.values[(datasize*7)//10:]
test.shape

(210, 4)

In [31]:
#to seperate classwise
class_zero = train[train[:,-1] == 0]
class_one = train[train[:,-1] == 1]
class_zero.shape
class_one.shape

(90, 4)

In [36]:
mean_zero = np.mean(class_zero,axis=0)
print(mean_zero)
mean_one =  np.mean(class_one,axis=0)
print(mean_one)

[ 32.05   113.8075 230.1225   0.    ]
[ 54.3        147.92222222 288.1          1.        ]

In [37]:
std_dev_zero = np.std(class_zero,axis = 0)
print(std_dev_zero)
std_dev_one = np.std(class_one, axis= 0)
print(std_dev_one)

[ 9.07537878 12.70690536 31.41675498  0.        ]
[ 4.67487374  9.89301412 30.27542091  0.        ]